{% extends "base_usuario.html" %}
{% block body %}


	<form class = "form-signin"  method="post" action="{% url 'registrar' %}">
		{% csrf_token %}
	
		<h2 class="form-signin-heading">Seja bem vindo, apicultor!</h2>
	
		<h4>Nome</h4>
		<input 	name="nome" id = "id_nome" class = "form-control" placeholder="Ex: Francisco Rodrigues" required>
	
		<h4>E-mail</h4>
		<input 	name="email" id = "id_email" class = "form-control" type = "email" placeholder="Ex: rodrigues@gmail.com" required autofocus>
		
		<h4>Senha</h4>
		<input 	name="senha" id = "id_senha" class = "form-control" type = "password" placeholder="Senha" required>
		
		<h4>Quantidade de apiários</h4>
		<input 	name="qtd_apiarios" id = "id_qtd_apiarios" class = "form-control" placeholder="Ex: 2" required>
		
		<h4>Você é um: </h4>
		<select	name="tipo_criador" id = "id_tipo_criador" class = "form-control">
			<option value="CRIADOR AUTÔNOMO">Criador autônomo</option>
			<option value="PRODUTOR DE MEL">Produtor de mel</option>
			<option value="PESQUISADOR">Pesquisador</option>
			
		</select>        
		<br>
	
		<button class="btn btn-lg btn-primary btn-block" type = "submit" value="Login">Registrar</button>
	
		{% if form.errors %}		
		<div class="alert alert-danger">
			<button type="button" class="close"
					data-dismiss="alert" aria-hidden="true">x				
			</button>
			{{ form.non_field_errors }}
		</div>		
		{% endif %}
	</form>
	
	
{% endblock %}