{% extends "base.html" %}
{% load staticfiles %}
{% block body %}


<div class="row">
    
    <div class="col-sm-2" style="text-align: center">  
        <img src="{% static 'imgs/iconApicultor.png' %}" class="img-fluid" style="width: 100px; margin-top: 1em;" alt="Responsive image">
        <hr>
        <h4><strong>{{perfil_logado.apicultor.nome}}</strong></h4>
        <h5>{{perfil_logado.apicultor.tipo_criador}}</h5>
        <h5>Quantidade de apiários: {{perfil_logado.apicultor.qtd_apiarios}}</h5>
        <a class="btn" href="{% url 'novo_apiario' %}">Novo Apiario</a>
        
    </div>

    <div class="col-sm-8">
        <div class="panel panel-default" style="margin-top: 1em">
            <h4 style="margin-left: 1em">Apiário (s)</h4>
        {% if apiarios %}
        <ul class="list-group">
            {% for apiario in apiarios %}
                <li class="list-group-item">
                    <h5>Proprietário: {{apiario.apicultor.nome}}</h5>
                    <h5>Tipo: {{apiario.tipo}}</h5>
                    <h5>Quantidade: {{apiario.qtd_colmeias}}</h5>
                    <h5>Localização: {{apiario.localizacao}}</h5>
                    <hr>
                    <a class="btn btn-primary btn-sm" href="{% url 'excluir_apiario' apiario.id %}">Excluir</a>
                    <a class="btn btn-primary pull-right btn-sm" href="{% url 'nova_perda' apiario.id %}">Registrar Perda</a>
                    <a class="btn btn-primary pull-right btn-sm" style="margin-right:1em" href="{% url 'nova_caixa_racional' apiario.id %}">Adicionar Caixa Racional</a>
                </li>    
            {% endfor %}
        </ul>   
        {% endif %}
        </div>
    </div>




    <!--Acessar perdas-->
    <div class="col-sm-2">
            <div class="panel panel-default" style="margin-top: 1em">
                    <h4 style="margin-left: 1em">Perdas</h4>
                {% if apiarios %}
                <ul class="list-group">
                    {% for apiario in apiarios %}
                        
                        <li class="list-group-item">
                            {{apiario.perdas}}
                        </li>    
                    {% endfor %}                       
                </ul>   
                {% endif %}
                </div>
    </div>

</div>








{% endblock %}