{% extends "base.html" %}
{% block body %}

<form class = "form-signin" enctype = "multipart/form-data" method="POST" action="{% url 'nova_perda' apiario.id %}">
	{% csrf_token %}

	<h2 class="form-signin-heading">Registre sua perda</h2> 
	<br>
	<h4>Data</h4>
    <input 	name="data_registro_perda" id = "id_data_registro_perda" type="date" class = "form-control" placeholder="Data" required autofocus>

	<h4>Quantidade de colmeias perdidas</h4>
    <input 	name="qtd_colmeias_perdidas" id = "id_qtd_colmeias_perdidas" class = "form-control" placeholder="Ex: 1">
	
	<h4>Espécie perdida</h4>
    <input 	name="especie_perdida" id = "id_especie_perdida" class = "form-control" placeholder="Ex: Jandaíra">

	<h4>Causa da perda</h4>
    <select	name="tipo_perda" id = "id_tipo_perda" class = "form-control">
        <option value="POR ABANDONO">Abandono de colmeia</option>
        <option value="POR MORTE">Morte</option>
	</select>  
	<br>
	
	<h4>Imagem da colmeia perdida</h4>
	<div class="row">
		<div class="col-lg-1">	
			<input type = "file" style = "margin-left:20%;" placeholder = "Foto" name = "foto_perda"/>
		</div>	
	</div>
	<br>
	
	<button class="btn btn-lg btn-primary btn-block" type = "submit" value="Perda">Registrar</button>

    
	{% if form.errors %}		
	<div class="alert alert-danger">
		<button type="button" class="close"
				data-dismiss="alert" aria-hidden="true">x				
		</button>
		{{ form.non_field_errors }}
	</div>		
	{% endif %}
</form>


{% endblock %}